body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-text: #1e272e;
  --light-grey: #ebf0f5;
  --grey: #566474;
  --lightest-grey: #f7f8fa;
  --bg-color: rgba(30, 39, 46, 0.7);
  --white: #fff;
  --xxl: 22px;
  --lg: 18p;
  --md: 16px;
  --sm: 14px;
  --xs: 12px;

  --blue: #445ee2;
  --dark-blue: #142683;
  --thin: 400;
  --normal: 500;
  --bold: 700;
}
